@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Varela+Round&display=swap');
.main {
  width: 100%;
  height: 100%;
  

}
.navBar {
  display: flex;
  width: 90%;
  justify-content: center; 
}
.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.textContainer {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}
.header {
  font-size: 60px;
  color:white;
  height: 12%;
  transition: 0.5s;
  margin: 0;
  font-family: 'DynaPuff', cursive;
  font-family: 'Varela Round', sans-serif;
}
.content {
  font-size: 30px;
  color: white;
  height: 12%;
  
}

.header:hover {
  color: transparent;
  -webkit-text-stroke: 2px white;

}

.links {
  display: flex;

}
.backgroundVideo {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

