@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Varela+Round&display=swap');
.main {
  width: 100%;
  height: 97%;
}
.navBar {
  display: flex;
  width: 90%;
  justify-content: center; 
}
.homeContainer {

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.textContainer {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}
.header {
  font-size: 10vh;
  color:white;
  height: 12%;
  transition: 0.5s;
  font-family: 'DynaPuff';
  font-family: 'Varela Round', sans-serif;
}

.content {
  font-size: 5vh;
  color: white;
  height: 10%;
  
}

.header:hover {
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.backgroundVideo {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
  background-color: #000;
  
}
.linkedIn {
  font-size: 4vh; 
  color: white;
  margin-right: 10px; 
  transition: 0.3s;  
}
  
.linkedIn:hover {
    color: #005582; /* Darker shade of LinkedIn blue for hover */
    transform: scale(1.1); /* Optional: slightly enlarge the icon on hover */
}
.logoSection {
  display: flex;
  
}

.gitHub {
  font-size: 4vh; 
  color: white;
  margin-right: 10px; 
  transition: 0.3s;  
}

.gitHub:hover {
  color: #000000; /* Darker shade of LinkedIn blue for hover */
    transform: scale(1.1); /* Optional: slightly enlarge the icon on hover */
}

.email {
  font-size: 4vh; 
  color: white;
  margin-right: 10px; 
  transition: 0.3s; 
}

.email:hover {
  color: #00bfff; /* Darker shade of LinkedIn blue for hover */
    transform: scale(1.1); /* Optional: slightly enlarge the icon on hover */
}

.file {
  font-size: 4vh; 
  color: white;
  margin-right: 10px; 
  transition: 0.3s; 
}

.file:hover {
  color: #5a6366; /* Darker shade of LinkedIn blue for hover */
    transform: scale(1.1); /* Optional: slightly enlarge the icon on hover */
}
