body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

.mainContainer {
    max-width: 80%;  
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto;
}

.buttonContainer a {
    text-decoration: none;
    color: #EFD3D7;
    font-size: 20px;
    font-weight: bold;
    
}

.buttonContainer:hover a {
    color: #c8b6ff;

}

